/*? SECTION UNIVERS */
.univers {
    height: auto;
    margin-top: 450px;
    margin-bottom: 100px;
    padding: 21px;
}

.univers h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.univers__card-container {
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap quand le wrap se met en action */
    gap: 35px;
}

.univers__cards {
    width: max(410px);
    height: auto;
    align-items: flex-start;
}

.univers__cards-titre {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px 0px;
    font-size: large;
    padding-bottom: 10px;
    border-bottom: 10px solid white;
}

.univers__cards-titre:hover {
    cursor: pointer;
    transition: 1s;
    border-bottom: 10px solid var(--color-purple);
}

/*? MEDIAQUERIES */
/* @media screen and (max-width: 2200px) {

    .univers {
        margin-top: 700px;
    }
} */

@media screen and (max-width: 2000px) {

    .univers {
        margin-top: 400px;
    }
}

@media screen and (max-width: 1800px) {

    .univers {
        margin-top: 300px;
    }
}

@media screen and (max-width: 1600px) {
    .univers {
        margin-top: -100px;
    }
}

@media screen and (max-width: 1400px) {

    .univers {
        margin-top: -150px;
    }

    
    .titres__sections {
        text-align: center;
    }
}

@media screen and (max-width: 1150px) {

    .univers {
        margin-top: -250px;
    }
}

@media screen and (max-width: 1050px) {

    .univers {
        margin-top: -300px;
    }
}

@media screen and (max-width: 992px) {

    .univers {
        margin-top: -400px;
    }
}

@media screen and (max-width: 868px) {

    .univers {
        margin-top: -500px;
    }
}

@media screen and (max-width: 768px) {

    .univers {
        margin-top: -620px;
    }

    .univers__card {
        align-items: center;
    }

    .univers__cards-titre {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 570px) {

    .univers {
        margin-top: -700px;
    }
}
