<section class="univers">
    <h2 class="titres__sections">Univers Digitalized<span class="legende__accueil">Style</span></h2>
    <div class="univers__card-container flex">
        <div class="card-1 flex column">
            <div class="univers__cards flex column">
                <img
                    src="../../../assets/home_categories/univers1.png"
                    alt="femmes"
                />
                <div class="univers__cards-titre flex">
                    <a href="/categorie.html"><h3>Femmes</h3></a>
                    <img
                        class="polygons"
                        src="../../../assets/icones/polygonDroit.png"
                        alt="flèche droite"
                    />
                </div>
            </div>
        </div>
        <div class="card-2 flex column">
            <div class="univers__cards flex column">
                <img
                    src="../../../assets/home_categories/univers2.png"
                    alt="hommes"
                />
                <div class="univers__cards-titre flex">
                    <h3>Hommes</h3>
                    <img
                        class="polygons"
                        src="../../../assets/icones/polygonDroit.png"
                        alt="flèche droite"
                    />
                </div>
            </div>
        </div>
        <div class="card-3 flex column">
            <div class="univers__cards flex column">
                <img
                    src="../../../assets/home_categories/univers3.png"
                    alt="accessoires"
                />
                <div class="univers__cards-titre flex">
                    <h3>Accessoires</h3>
                    <img
                        class="polygons"
                        src="../../../assets/icones/polygonDroit.png"
                        alt="flèche droite"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
