<div class="contenerBlack">
    <a routerLink="/"><img src="assets/logos/logoWhite.png"
        alt="logo white color"/></a>
    <h1>DIGITALIZED<span class="petitStyle">STYLE</span></h1>
    <div class="logos">
         <img src="assets/logos/FB.jpg"
        alt="facebook"/>
        <img src="assets/logos/pinterest.jpg"
        alt="pinterest"/>
        <img src="assets/logos/tictok.jpg"
        alt="tictok"/>
        <img src="assets/logos/tweet.jpg"
        alt="tweet"/>
        <img src="assets/logos/YOUTUBE.jpg"
        alt="youtube"/>
        <img src="assets/logos/insta.jpg"
        alt="insta"/>
    </div>
    <div class="logoCop">
    <img class="copy" src="assets/logos/copy.png"/>
    <p>Copyright 2022 - Tous droits réservées</p>
    </div>
    <div class="navFooter">
        <!-- Les liens renvoient à la page d'accueil pour le moment -->
        <a routerLink="/">Contact</a>
        <a routerLink="/">Carrières</a>
        <a routerLink="/">Médias</a>
        <a routerLink="/">Mentions légales</a>
        <a routerLink="/">Protection des données personnelles</a>
</div>
</div>