.container {
    height: 500px;
    background: url(../../../assets/hologram/hologram.jpg);
    width: 85%;
    margin: 0 auto;
    margin-top: 100px;
}

li img{
    width: 250px;
    margin-top: 60px;
}
ul {
    display: flex;
    justify-content: center;
    gap:30px;
}