<section>
    <div class="container">
    <ul>
        <li><img src={{galerieItem?.imageG1}}></li>
        <li><img src={{galerieItem?.imageG2}}></li>
        <li><img src={{galerieItem?.imageG3}}></li>
        <li><img src={{galerieItem?.imageG4}}></li>
        <!-- <li><img src="../../../assets/Doudounnes/doudounnesDet/doudounneDet1.jpg"></li>
        <li><img src="../../../assets/Doudounnes/doudounnesDet/doudounneDet2.jpg"></li>
        <li><img src="../../../assets/Doudounnes/doudounnesDet/doudounneDet3.jpg"></li>
        <li><img src="../../../assets/Doudounnes/doudounnesDet/doudounneDet.jpg"></li>
        <li><img src="../../../assets/Doudounnes/doudounnesDet/doudounneDet4.jpg"></li> -->
    </ul>
</div>
</section>
