
/* burger et navigation */

.header__navigation {
    min-height: 80px;
}

.header__burger {
    gap: 3px;
    margin-left: 21px;
    min-width: 20px;
}

.barre__hamburger {
    width: 50px;
    height: 7px;
    background-color: var(--color-purple);
    border-radius: 5px;
}

.header__burger:hover {
    cursor: pointer;
}

.header__icons-client {
    min-width: 600px;
    justify-content: space-around;
    gap: 40px;
}

.input__search {
    gap: 15px;
}

.input__search input {
    border-radius: 15px;
    height: 30px;
    text-align: center;
}

.input__search input::placeholder {
    padding-left: 15px;
}

.input__search img {
    width: 17px;
}

.search {
    min-width: 250px;
}

.icons__container {
    width: 150px;
    justify-content: space-between;
    margin-right: 21px;
}

.heart {
    width: 29px;
}

/** CLASS ANIMATIONS JS POUR LE BURGER QUI SE TRANSFORME EN CROIX*/
/* barres hamburger en position normale */
.visible {
    opacity: 1;
    transition: 1s;
}

.initial1 {
    transform: translateY(0px) rotate(0deg);
    transition: 0.5s;
}

.initial2 {
    transform: translateY(0px) rotate(0deg);
    transition: 0.5s;
}

/* mise en place de la croix */
.opacity {
    opacity: 0;
    transition: 1s;
}

.rotate1 {
    transform: translateY(10px) rotate(130deg);
    transition: 0.8s;
}

.rotate2 {
    transform: translateY(-10px) rotate(-130deg);
    transition: 0.8s;
}

/*? NAVIGATION */
.nav__desktop {
    justify-content: space-around;
    padding: 21px;
    background: var(--color-white);
    opacity: 0.9;
    width: min(100%, 100%);
    position: relative;
    top: 0px;
    z-index: 1;
}

.nav__list {
    min-height: 275px;
    min-width: 150px;
}

.nav__list ul li a {
    font-family: 'Nunito';
}

.digitalized span {
    font-size: medium;
}

/** CLASS ANIMATION JS POUR LA NAVIGATION VENANT DE GAUCHE */

/* Navigation apparait au clic */
.open {
    transition: 0.8s;
    left: 0px;
}

/* Navigation cachée à gauche */
.close {
    transition: 1s;
    left: -2880px;
}

/*? MEDIAQUERIES */

@media screen and (max-width: 992px) {
    .nav__desktop {
        flex-direction: column;
        text-align: center;
    }

    .nav__list h2 {
        margin-bottom: 8px;
    }

    .nav__list {
        min-height: 100px;
        min-width: 150px;
        margin-bottom: 10px;
    }

    .nav__list ul li a {
        font-size: smaller;
    }

    .responsive-off {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    /* Header & menu */
    .header__navigation {
        flex-direction: column;
        height: auto;
        padding: 5px;
        gap: 15px;
    }

    .header__burger {
        margin: 30px 0px;
    }

    .header__icons-client {
        flex-direction: column;
        gap: 15px;
    }

    .input__search img {
        display: none;
    }

    .input__search input {
        margin-left: 15px;
    }

    .icons__client {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .icons__container {
        margin-right: 0px;
    }

    .icons__container a img {
        padding: 5px;
    }

    /* .legende {
        flex-direction: column;
        align-items: center;
     } */
}

@media screen and (max-width: 570px) {
    .header__navigation {
        flex-direction: column;
        height: auto;
        padding: 5px;
        gap: 15px;
    }

    .header__burger {
        margin: 30px 0px;
    }

    .header__icons-client {
        flex-direction: column;
        gap: 15px;
    }

    .input__search img {
        display: none;
    }

    .input__search input {
        margin-left: 15px;
    }

    .icons__client {
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .icons__container {
        margin-right: 0px;
    }

    .icons__container a img {
        padding: 5px;
    }
}
