 <!-- Barre de menu -->
 <div class="header__navigation flex">
    <!-- Burger pour partie de gauche-->
    <div class="header__burger flex column" id="burger">
        <span class="barre__hamburger initial1" id="barre_1"></span>
        <span class="barre__hamburger visible" id="barre_2"></span>
        <span class="barre__hamburger initial2" id="barre_3"></span>
    </div>
    <!-- Partie de droite avec Search et 3 icônes -->
    <div class="header__icons-client flex">
        <!-- Barre Search -->
        <div class="input__search flex">
            <img src="../../../assets/icônes/barreMenuActions/loupe.png" alt="loupe input" />
            <input
                type="search"
                name="search"
                class="search"
                placeholder="Search"
            />
        </div>
        <!-- Icônes d'action client -->
        <div class="icons__client flex">
            <div class="icons__container flex">
                <a href="#"
                    ><img
                        src="../../../assets/icônes/barreMenuActions/icône_compte.png"
                        alt="compte client"
                /></a>
                <a href="#"
                    ><img
                        src="../../../assets/icônes/barreMenuActions/icône_panier.png"
                        alt="compte client"
                /></a>
                <a href="#"
                    ><img
                        src="../../../assets/icônes/barreMenuActions/icône_favoris.png"
                        alt="compte client"
                /></a>
            </div>
        </div>
    </div>
</div>
