<!-- Barre de menu -->
<div class="header__navigation flex">
  <!-- Burger pour partie de gauche-->
  <div class="header__burger flex column" id="burger" #burger (click)="burgerSwitch()">
    <span class="barre__hamburger initial1" id="barre_1" #barre_1></span>
    <span class="barre__hamburger visible" id="barre_2" #barre_2></span>
    <span class="barre__hamburger initial2" id="barre_3" #barre_3></span>
  </div>
  <!-- Partie de droite avec Search et 3 icônes -->
  <div class="header__icons-client flex">
    <!-- Barre Search -->
    <div class="input__search flex">
      <img
        src="../../../assets/icônes/barreMenuActions/loupe.png"
        alt="loupe input"
      />
      <input type="search" name="search" class="search" placeholder="Search" />
    </div>
    <!-- Icônes d'action client -->
    <div class="icons__client flex">
      <div class="icons__container flex">
        <a routerLink="/compte"><img
          src="../../../assets/icônes/barreMenuActions/icône_compte.png"
          alt="compte client"
      /></a>
        <a routerLink="/paiement"><img
          src="../../../assets/icônes/barreMenuActions/icône_panier.png"
          alt="panier-paiement"
      /></a>
      <a routerLink="/favoris"><img
        class="heart"
        src="../../../assets/wishlistCoeur/coeur.png"
        alt="favoris"
    /></a>
      </div>
    </div>
  </div>
</div>
<!-- Navigation desktop en ligne puis à 992px navigation mobile en colonne-->
<nav class="nav__desktop flex close" id="nav" #nav>
  <!-- Categories Femme pour tester le routeur -->
  <div class="femmes nav__list">
    <h2><a [routerLink] = "['/categories', 1]">Femmes</a></h2>
    <ul class="nav__femmes">
      <li><a [routerLink] = "['/categories']">Tous les articles</a></li>
      <li class="responsive-off">
        <!-- <a routerLink="/products">Doudounes</a> -->
        <a [routerLink] = "['/products', 2]">Doudounes</a>
      </li>
      <li class="responsive-off">
        <a [routerLink] = "['/not-found']">Robes</a>
      </li>
      <li class="responsive-off"><a [routerLink] = "['/not-found']">Souliers</a></li>
      <li><a [routerLink] = "['/not-found']">Top et t-shirt</a></li>
      <li><a [routerLink] = "['/not-found']">Pantalons</a></li>
    </ul>
  </div>
  <div class="enfants nav__list">
    <h2><a [routerLink] = "['/categories', 2]">Enfants</a></h2>
    <ul class="nav__enfants">
      <li><a [routerLink] = "['/not-found']">Tous les vêtements</a></li>
      <li class="responsive-off">
        <a [routerLink] = "['/not-found']">Hauts et tee-shirts</a>
      </li>
      <li class="responsive-off">
        <a [routerLink] = "['/not-found']">Bas et pantalons</a>
      </li>
      <li><a [routerLink] = "['/not-found']">Chaussures</a></li>
    </ul>
  </div>
  <div class="hommes nav__list">
    <h2><a [routerLink] = "['/categories', 3]">Hommes</a></h2>
    <ul class="nav__hommes">
      <li><a [routerLink] = "['/not-found']">Tous les articles</a></li>
      <li class="responsive-off">
        <a [routerLink] = "['/not-found']">Hauts et Tee-shirts</a>
      </li>
      <li class="responsive-off">
        <a [routerLink] = "['/not-found']">Bas et Pantalons</a>
      </li>
      <li class="responsive-off"><a routerLink="/products">Combinaisons</a></li>
      <li><a [routerLink] = "['/not-found']">Chaussures</a></li>
    </ul>
  </div>
  <!-- categorie Femme pour tester le routeur -->
  <div class="accessoires nav__list">
    <h2><a [routerLink] = "['/categories', 4]">Accessoires</a></h2>
    <ul class="nav__accessoires">
      <li><a [routerLink] = "['/not-found']">Accessoires Tech</a></li>
      <li><a [routerLink] = "['/not-found']">Accessoires fashion</a></li>
      <li><a [routerLink] = "['/not-found']">Bijoux</a></li>
    </ul>
  </div>
  <div class="digitalized nav__list">
    <h2>
      <a [routerLink] = "['/categories', 5]">Digitalized<span>Style</span></a>
    </h2>
    <ul class="nav__digitalized">
      <li><a [routerLink] = "['/categories']">Toutes les catégories</a></li>
      <li><a [routerLink] = "['/not-found']">Nouveautés</a></li>
      <li><a [routerLink] = "['/not-found']">Meilleures ventes</a></li>
      <li><a [routerLink] = "['/not-found']">Idées cadeaux</a></li>
      <li><a [routerLink] = "['/not-found']">Adresse</a></li>
      <li><a [routerLink] = "['/not-found']">Contact</a></li>
    </ul>
  </div>
</nav>
