<section>
    <div class="container">
        <div class="div-haut">
          <div class="div-gauche">
                <div>
                    <label for="name">Quantité</label>
                    <input type="text" id="name" name="name" value="1" />
                </div>
                <div class="divCouleur">
                    <button class="button buttonRed"></button>
                    <button class="button buttonBleu"></button>
                    <button class="button buttonvert"></button>
                    <button class="button buttonblack"></button>
                    <button class="button buttonviolet"></button>
                </div>
            </div>
            <div class="div-droite">
                <p>Tailles:</p>
                <div class="divTaille">
                    <button class="button">36.0 IT/EU</button>
                    <button class="button">37.0 IT/EU</button>
                    <button class="button">38.0 IT/EU</button>
                    <button class="button">39.0 IT/EU</button>
                    <button class="button">40.0 IT/EU</button>
                </div>
            </div>
        </div>
        <!-- <div class="div-bas">
        <button class="button" type="submit" >Ajouter Au Panier</button>
        </div> -->
    </div>
</section>
