<section>
<div class="config">
    <div classe="quantite"> 
        <label for="quantite">QUANTITE: </label>
        <input type="number" id="quantite" name="quantite"
               min="1" max="12">
        </div>  
<div class="colorBox">
<mat-card>
    <mat-card-content>COLORS</mat-card-content>
<mat-select>
    <mat-option value="white"><button class="button">Blanc</button></mat-option>
    <mat-option class="violet" value="violet"><button class="button button1">Violet</button></mat-option>
    <mat-option class="red" value="red"><button class="button button2">Rouge</button></mat-option>
    <mat-option class="bleu" value="bleu"><button class="button button3">Bleu</button></mat-option>
    <mat-option class="vert" value="vert"><button class="button button4">Vert</button></mat-option>
    <mat-option class="black" value="black"><button class="button button5">Noir</button></mat-option>
</mat-select> 
</mat-card> 
</div>
<div class="tailleBox">
    <mat-card>
    <mat-card-content>TAILLES</mat-card-content>
    <mat-select>
        <mat-option value="36">36.0 IT/EU</mat-option>
        <mat-option value="37">37.0 IT/EU</mat-option>
        <mat-option value="38">38.0 IT/EU</mat-option>
        <mat-option value="39">39.0 IT/EU</mat-option>
        <mat-option value="40">40.0 IT/EU</mat-option>
        <mat-option value="41">41.0 IT/EU</mat-option>
        <mat-option value="42">42.0 IT/EU</mat-option>
        <mat-option value="44">44.0 IT/EU</mat-option>
    </mat-select> 
    </mat-card>
    <p>Coupe: coupe slim. Le mannequin porte une taille 36.0 et mesure 180 cm</p> 
    </div>
</div>

</section>