.container {
    font-display: inline;
   }
    h2 {
    font-display: inline;
    
    color: var(--color-purple);
    margin-top: 30px;
    margin-left: 90px;
    }
    span {
        font-size: 14px;
        color: var(--color-purple);
    }
    .btnBlock {
     display: flex;
     justify-content: center;
     margin-top:20px;
      
    }
    p {
        font-size: 20px;
        margin-left: 90px;
    }
    button  {
        width: 200px;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        border: 3px solid var(--color-purple);
        margin-left: 10px;
    }
    
    img {
        width: 200px;
        margin-left: 250px;
        margin-top: 50px;
    }
