p {
    margin: auto;
    margin-bottom: 25px;

}

.carteTop {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.carteTop img  {
    height: 60px;
    width: 87px;
    margin-bottom: 30px;
}

.carteBottom {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.carteBottom img {
    height: 60px;
    width: 87px;
    
}

.carteBottom img:last-child {
    width: 55px;
}

.bitcoin {
    height: 15px;
    width: 15px;
}

button {
    cursor: pointer;
    font-size: 1rem;
    padding: 20px;
    margin-left: 20px;
    border-radius: 50px;
    margin-top: 25px;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;

}

button:hover {
    background-color: #7e2bbb;
    color: white;
}