
<p>Choisissez votre moyen de paiement : </p>

<div class="carteTop">
    <img src="assets/paiement/mastercard.jpg" alt="Paiement en carte Mastercard">
    <img src="assets/paiement/cb.jpg" alt="Paiement en carte bleu">
    <img src="assets/paiement/visa.jpg" alt="Paiement en carte visa">
    <img src="assets/paiement/americanExpress.jpg" alt="Paiement en carte American Express">
</div>

<div class="carteBottom">
    <img src="assets/paiement/paypal.jpg" alt="Paiement avec Paypal">
    <img src="assets/paiement/applePay.jpg" alt="Paiement avec Apple Pay">
    <img src="assets/paiement/bitcoin.jpg" alt="Paiement en bitcoin">
</div>


<!-- Voir bouton dans autre page -->
<button>Valider la commande</button>
