<section>
    
    <div class="container">
        <app-galerie-produit></app-galerie-produit>
        <div><img src= {{item?.image}}></div>
        <div class="block-text">
            <h2>{{item?.titre}}</h2>
            <p>{{item?.texte}}</p>
            <br>
            <p>{{item?.prix}} {{item?.unite}}</p>
           
        </div>
    </div>
   
    <app-product-config></app-product-config>
    <lib-toastify-toast-container [autoClose]=3000></lib-toastify-toast-container>
    <div class="button">
        <button type="button" (click)="addToBasket()" (click)="addInfoToast()"> AddToCart </button>
    </div>
    <app-history-views></app-history-views>
</section>






