.container {
    display: flex;
    margin-top: 80px;
}
img {
    width: 300px;
    border: 2px solid black;
}
.blockText {
    display: block;
    border: 2px solid black;
    margin-left: 5px;
    padding-top: 30px;
    padding-left: 15px;
}
.container-empty {
    height: 600px;
    }
    @media all and (max-width: 900px) { 
        .container { 
                display: inline-block;
                text-align: center;
            }
    }
    @media screen and (max-width: 992px) {
        section {
            margin-top: -470px;
        }
        .container-empty {
            height: 500px;
            }
    }
    @media screen and (max-width: 768px) {
        section {
            margin-top: -470px;
        }
        .container { 
            display: inline-block;
           }
        div {
            padding-left: 200px;
        }
        h2 {
            padding-left: 250px;
        }
    }
    @media screen and (max-width: 570px) { 
        section {
            margin-top: -470px;
        }
        .container { 
            display: inline-block;
            text-align: center;
        }
        .container-empty {
            height: 500px;
            }
       }
    @media screen and (max-width: 500px) { 
        .container { 
            display: inline-block;
            text-align: center;
        }
       div {
            padding-left: 80px;
       }
       h2 {
          padding-left: 150px;
       }
       .container-empty {
        height: 300px;
        }
    }
    
    