.container {
    display: flex;
    margin-top: 80px;
}
img {
    width: 300px;
    border: 2px solid black;
}
.blockText {
    display: block;
    border: 2px solid black;
    margin-left: 5px;
    padding-top: 30px;
    padding-left: 15px;
}
.container-empty {
    height: 600px;
    }
    @media all and (max-width: 900px) { 
        .container { 
                display: inline-block;
                text-align: center;
            }
            
        }