<section class="decouverte">
    <div class="decouverte__container flex">
        <div class="decouverte__colonne-gauche">
            <span class="colonne-violette"></span>
        </div>
        <figure class="decouverte__image-accueil">
            <img
                src="../../../assets/home/accueil_violet.png"
                alt="image accueil"
            />
            <img
            src="../../../assets/home/responsiv/accueil_responsive.png"
            alt="image accueil responsive"
            class="image__responsive"
            />
            <div class="legende flex-straight">
                <figcaption class="decouverte__image-legende">Digitalized<span class="legende__accueil">Style</span></figcaption>
                <button><a routerLink="/categories">Voir la boutique</a></button>
            </div>
        </figure>
        <div class="decouverte__colonne-droite">
            <span class="colonne-violette"></span>
        </div>
    </div>
</section>
