<!--DOUDOUNNES-->
<section>
<h2>{{titreToDisplay}}</h2>
  <app-barre-violette></app-barre-violette>
  <div>
  <button class="modal" (click)="openDialogClick()">{{ btnText }}</button>
  <button class="modal2" (click)="openDialogClick()">{{ btnText }}</button>
  <button class="modal2" (click)="openDialogClick()">{{ btnText }}</button>
</div>
  <div class="container">
  <app-one-product-card 
      *ngFor="let item_productdetails of item_productdetails"
      [Item_productdetails]="item_productdetails "
    ></app-one-product-card>
  </div>
  <app-barre-violette></app-barre-violette>
  <div class="container-empty"></div>
  </section>
