<h2>L'art d'offrir</h2>

<div class="offrir">            <!-- Bordure noire -->

    <div class="flex">
        <p>Vos achats seront emballés dans un coffret DigitalizedStyle iconique</p>
        <div>
            <input type="checkbox">
            <label for="ajouter">Ajouter</label>
          </div>
    </div>

    <div class="flex">
        <p>Message personnalisé</p>
        <div>
            <input type="checkbox">
            <label for="ajouter">Ajouter</label>
          </div>
    </div>
</div>