<!-- Navigation desktop en ligne puis à 992px navigation mobile en colonne-->
<nav class="nav__desktop flex open" id="nav">
    <div class="articles-du-moment nav__list">
        <h2><a href="#">Articles</a></h2>
        <ul class="nav__nouveautes">
            <li>
                <a href="/categories.html">Catégories principales</a>
            </li>
            <li class="responsive-off"><a href="#">Nouveauté</a></li>
            <li>
                <a href="#">Meilleures ventes</a>
            </li>
            <li class="responsive-off">
                <a href="#">Idées cadeaux</a>
            </li>
        </ul>
    </div>
    <div class="hommes nav__list">
        <h2><a href="#">Hommes</a></h2>
        <ul class="nav__hommes">
            <li><a href="#">Tous les vêtements</a></li>
            <li class="responsive-off">
                <a href="#">Hauts et tee-shirts</a>
            </li>
            <li class="responsive-off">
                <a href="#">Bas et pantalons</a>
            </li>
            <li class="responsive-off"><a href="#">Combinaisons</a></li>
            <li><a href="#">Chaussures</a></li>
        </ul>
    </div>
    <div class="femmes nav__list">
        <h2><a href="/categorie.html">Femmes</a></h2>
        <ul class="nav__femmes">
            <li><a href="#">Tous les vêtements</a></li>
            <li class="responsive-off">
                <a href="#">Hauts et tee-shirts</a>
            </li>
            <li class="responsive-off">
                <a href="#">Bas et pantalons</a>
            </li>
            <li class="responsive-off"><a href="#">Combinaisons</a></li>
            <li><a href="#">Chaussures</a></li>
        </ul>
    </div>
    <div class="accessoires nav__list">
        <h2><a href="#">Accessoires</a></h2>
        <ul class="nav__accessoires">
            <li><a href="#">Accessoires Tech</a></li>
            <li><a href="#">Accessoires fashion</a></li>
        </ul>
    </div>
    <div class="digitalized nav__list">
        <h2>
            <a href="#">Digitalized<span>Style</span></a>
        </h2>
        <ul class="nav__digitalized">
            <li><a href="#">Adresse</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
