/*? NAVIGATION */
.nav__desktop {
    justify-content: space-around;
    padding: 21px;
    background: var(--color-white);
    opacity: 0.9;
    width: min(100%, 100%);
    position: relative;
    top: 0px;
    z-index: 1;
}

.nav__list {
    min-height: 275px;
    min-width: 150px;
}

.digitalized span {
    font-size: medium;
}

/** CLASS ANIMATION JS POUR LA NAVIGATION VENANT DE GAUCHE */
/* Navigation apparait au clic */
.open {
    transition: 0.8s;
    left: 0px;
}

/* Navigation cachée à gauche */
.close {
    transition: 1s;
    left: -2880px;
}