<div class="border mail">
    <p>Saissisez votre adresse mail pour continuer en tant qu'invité(e) ou connectez-vous à votre compte :</p>
    <p>PLACER INPUT</p>
</div>

<div class="border total">
    <p>Sous-total</p>
    <p class="priceMargin">0,00 €</p>

    <p>Livraison</p>
    <p class="priceMargin">0,00 €</p>

    <p>Montant total</p>
    <p class="priceMargin">0,00 €</p>
</div>

<div class="border livraison">
    <h3>Livraison</h3>
    <select class="country">
        <option value="">France</option>
        <option value="">Suisse</option>
        <option value="">Belgique</option>
        <option value="">Luxembourg</option>
        <option value="">Allemagne</option>
    </select>

    <form [formGroup] = "formLivraison">
    <select class="border civilite">
        <option value="">Mme</option>
        <option value="">M</option>
    </select>
    <label for = "nom">Nom :</label>    <!-- Voir TS -->
        <input [class.hasError]="validationCoordonneesError.includes('nom')"    id="nom" formControlName="nom" type="text" />

    <label for = "prenom">Prénom :</label>
        <input [class.hasError]="validationCoordonneesError.includes('prenom')"  type="text" />

    <label for = "adresse">Adresse :</label>
        <input [class.hasError]="validationCoordonneesError.includes('adresse')"  type="text" />

    <label for = "cp">CP :</label>
        <input [class.hasError]="validationCoordonneesError.includes('cp')"  type="text" />

    <label for = "ville">Ville :</label>
        <input [class.hasError]="validationCoordonneesError.includes('ville')"  type="text" />

        <!-- Créer un button -->
        <button type="submit" (click)="register()">Enregistrer</button>

    </form>

</div>
