<div class="border mail">
    <p>Saissisez votre adresse mail pour continuer en tant qu'invité(e) ou connectez-vous à votre compte :</p>
</div>

<div class="border total">
    <p>Sous-total</p>
    <p>0,00 €</p>

    <p>Livraison</p>
    <p>0,00 €</p>

    <p>Montant total</p>
    <p>0,00 €</p>
</div>

<div class="border livraison">
    <h3>Livraison</h3>
    <select class="country">
        <option value="">France</option>
        <option value="">Suisse</option>
        <option value="">Belgique</option>
        <option value="">Luxembourg</option>
        <option value="">Allemagne</option>
    </select>

    <select class="border civilite">
        <option value="">Mme</option>
        <option value="">M</option>
    </select>
    <label>Nom :</label>
        <input type="text" />
    <label>Prénom :</label>
        <input type="text" />
    <label>Adresse :</label>
        <input type="text" />
    <label>CP :</label>
        <input type="text" />
    <label>Ville :</label>
        <input type="text" />

</div>
