.border {
    border: 2px solid purple;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
    
}

.priceMargin {
    margin-bottom: 18px;
}

.mail {
    
}


.livraison {
    display: flex;
    flex-direction: column;
}