<div class="border mail">
    <p>Saissisez votre adresse mail pour continuer en tant qu'invité(e) ou connectez-vous à votre compte :</p>
    <input type="email">
</div>

<div class="border total">
    <p>Montant total HT</p>
    <p class="price-margin">{{ this.basketService.totalPriceHt }} €</p>

    <p>Frais de livraison</p>
    <p class="price-margin">OFFERTS</p>

    <p>Montant total TTC</p>
    <p class="price-margin">{{ this.basketService.totalPrice }}  €</p>
</div>

<div class="border livraison">
    <h3>Livraison</h3>
    <select class="country">
        <option value="">France</option>
        <option value="">Allemagne</option>
        <option value="">Belgique</option>
        <option value="">Luxembourg</option>
        <option value="">Suisse</option>
    </select>

    <form [formGroup] = "formLivraison">
    <select class="border civilite">
        <option value="">Mme </option>
        <option value="">M </option>
    </select>
    <br>

        <label for = "nom">Nom : </label>   
        <input [class.formError]="validationCoordonneesError.includes('nom')" id="nom" formControlName="nom" type="text" />
        <br>

    <label for = "prenom">Prénom : </label>
        <input [class.formError]="validationCoordonneesError.includes('prenom')" id="prenom" formControlName="prenom"  type="text" />
        <br>

    <label for = "adresse">Adresse : </label>
        <input [class.formError]="validationCoordonneesError.includes('adresse')" id="adresse" formControlName="adresse" type="text" />
        <br>

    <label for = "cp">CP : </label>
        <input [class.formError]="validationCoordonneesError.includes('cp')" id="cp" formControlName="cp"  type="text" />
        <br>

    <label for = "ville">Ville : </label>
        <input [class.formError]="validationCoordonneesError.includes('ville')" id="ville" formControlName="ville"  type="text" />
        <br>

        <!-- Button -->
        <button type="submit" (click)="register()">Enregistrer</button>
    </form>

</div>
