<h1>Mon panier</h1>
<!-- <div *ngIf="Panier.length > 0">
  <table>
    <tr>
      <th>Produit</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let produit of panier">
      <td>{{produit.nom}}</td>
      <td>{{produit.prix}}</td>
      <td>{{produit.quantite}}</td>
      <td>{{produit.prix * produit.quantite}}</td>
    </tr>
  </table> -->
<section>
  <img src="./assets/Doudounnes/doudounneVerte.png" alt="">

  <div class="caracteristique">
    <ul>
        <li>Modèle : Doudounne Digit-doudounne</li>
        <li>Taille : 42 </li>
        <li>Couleur : Meta-vert</li>
        <li>Quantité :
            <select>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>

            </li>
        <li>Total : 2 500 €</li>
    </ul>

  </div>
</section>

  <p class="livraison">Livraison estimée : Mercredi 1er février 2023</p>

