section {
    display: flex;
    gap: 100px;
}

img {
    width: min(40%, 40%);
    height: min(40%, 40%);
}

.caracteristique {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.livraison {
    margin-top: 80px;
}

