<h1>Mon panier</h1>
  <section>
    <div class="caracteristique">
      <ul>
          <li *ngFor="let basketProduct of basket; let index = index">
            <article>
              <img src = "{{basketProduct.product.image}}" alt = "{{basketProduct.product.titre}}"/>
              <p>Quantité: {{basketProduct.quantity}}</p>
              <p>Prix unitaire: {{basketProduct.product.prix}} €</p>
              <p>Produit: {{basketProduct.product.titre}}</p>
              <p>caracteristiques: {{basketProduct.product.texte}}</p>
              <!-- <h3>{{basketProduct.quantity}} x {{basketProduct.produit} - {{basketProduct.prix}</h3> -->
            </article>
          </li>
      </ul>
    </div>
  </section>
  <p>Prix total : </p>


